<p id="notice"><%= notice %></p>

<ul>
    <% @league_members.each do |user| %>
        <li><p><%= user.username %></p></li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
