<!DOCTYPE html>
<html>
  <head>
    <title>FantasyCongress</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <script src="https://use.typekit.net/crh5bqw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body class="republican">
    <%= yield %>
  </body>
</html>
