
<div class="republican">
    <div class="header-container">
        <header class="wrapper clearfix">
          <h1 class="title">
            Politicians
          </h1>
        </header>
    </div>
    
    <div class="main-container">
      <div class="main wrapper clearfix">
        <table class="stats">
          <thead>
            <tr>
              <td>Representative</td>
            </tr>
          </thead>
          <tbody>
            <% @politicians.each do |politician| %>
              <tr>
                <td>
                  <div class="image-wrapper" style="background-image:url('https://www.govtrack.us/data/photos/<%=politician.photo_id %>-200px.jpeg')"></div>
                  <h3><%= link_to politician.full_name, politician %></h3>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
<br>
<p id="notice"><%= notice %></p>
<%= link_to 'New Politician', new_politician_path %>
